.login-container {
  max-width: 350px;
  margin: 80px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.login-container input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #f1641e;
  color: white;
  border: none;
  cursor: pointer;
}
