<div class="auth-box">

  <h2>Login</h2>

  <input
    type="text"
    placeholder="Email or Username"
    [(ngModel)]="identifier"
  />

  <input
    type="password"
    placeholder="Password"
    [(ngModel)]="password"
  />

  <!-- CAPTCHA -->
  <div class="captcha">
    <strong>{{ captcha }}</strong>
    <button type="button" (click)="generateCaptcha()">↻</button>
  </div>

  <input
    type="text"
    placeholder="Enter Captcha"
    [(ngModel)]="captchaInput"
  />

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <button (click)="login()" [disabled]="loading">
    {{ loading ? 'Logging in...' : 'Login' }}
  </button>

  <p class="switch">
    New user?
    <a routerLink="/signup">Create an account</a>
  </p>

</div>
