.auth-box {
  max-width: 350px;
  margin: 60px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.captcha strong {
  letter-spacing: 2px;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #f1641e;
  color: white;
  border: none;
  cursor: pointer;
}

.switch {
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
}
