<div class="signup-wrapper">
  <form class="signup-card" (ngSubmit)="signup()">

    <h2>Create Account</h2>
    <p class="subtitle">Join us and explore more</p>

    <input
      type="text"
      placeholder="Username"
      [(ngModel)]="username"
      name="username"
      required
    />

     <div class="section">
      

      <div class="email-group">
        <input type="email" name="email" [(ngModel)]="email" placeholder="example@gmail.com">
        <button type="button" (click)="sendOtp()" [disabled]="otpSent">
          {{ otpSent ? 'Sent' : 'Send OTP' }}
        </button>
      </div>

      <div class="email-group" *ngIf="otpSent">
        <input type="text" name="otp" [(ngModel)]="otp" placeholder="Enter OTP">
        <button type="button" class="verify" (click)="verifyOtp()">Verify</button>
      </div>

      <p class="success" *ngIf="emailVerified">✔ Email verified successfully</p>
    </div>

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <input
      type="password"
      placeholder="Confirm Password"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
    />

    <!-- CAPTCHA -->
    <div class="captcha-box">
      <strong>{{ captcha }}</strong>
<button type="button" (click)="generateCaptcha()">↻</button>

    </div>

    <input
      type="text"
      placeholder="Enter Captcha"
      [(ngModel)]="captchaInput"
      name="captcha"
      required
    />

    <!-- ERROR / SUCCESS -->
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <p class="success" *ngIf="successMessage">{{ successMessage }}</p>

    <button type="submit">Sign Up</button>

    <!-- LOGIN LINK -->
    <p class="login-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>

  </form>
</div>
